@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}

h1.title{
	margin-bottom: 20px;
	color: #444444;
	font-family: 'Allura', cursive;
	text-transform: uppercase;
	font-size: 38px;
	word-spacing: 25px;
	letter-spacing: 5px;
}

p{
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
	color: #a9a9a9;
}

.tmb a {
    width: 180px;
    height: 35px;
    line-height: 35px;
    border: 2px solid white;
    color: #fb2274;
    display: block;
    margin: 25px auto 0;
    text-align: center;
}

.main_container{
	position: relative;
}

/* Navigation Bar */
.navbar{
	width: 100%;
	height: 65px;
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo a{
	font-family: 'Allura', cursive;
	font-size: 32px;
	color: 	#FF4500;
}

.navbar_items ul{
	display: flex;
}

.navbar_items ul li{
	margin: 0 10px;
}

.navbar_items ul li a{
	text-transform: uppercase;
	color: #fff;
}

/* banner_image */
.banner_image{
	background: url('image/horor.jpeg') no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner_content{
	text-align: center;
	color: #fff;
}

.banner_content h1{
	text-transform: uppercase;
	line-height: 38px;
	margin-bottom: 15px;
}

.banner_content h1 span{
	color: red;
}


/* About */
.about,
.services,
.ourteam,
.contactus,
.sosmed{
	text-align: center;
	padding: 5% 10%;
}

/* Services */
.services{
	background: #f5f5f5;
}

.diff_services {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.diff_services .diff_services_item {
    width: 30%;
}

.diff_services .diff_services_item img {
    width: 100%;
    height: 500px;
    margin-bottom: 25px;
}

.diff_services .diff_services_item h3 {
    color: 	#FF4500;
    margin-bottom: 15px;
}

.deff_services {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.deff_services .deff_services_item {
    width: 30%;
}

.deff_services .deff_services_item img {
    width: 100%;
    height: 500px;
    margin-bottom: 25px;
}

.deff_services .deff_services_item h3 {
    color: 	#FF4500;
    margin-bottom: 15px;
}

.doff_services {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.doff_services .doff_services_item {
    width: 30%;
}

.doff_services .doff_services_item img {
    width: 100%;
    height: 500px;
    margin-bottom: 25px;
}

.doff_services .doff_services_item h3 {
    color: 	#FF4500;
    margin-bottom: 15px;
}

/* our team */
.ourteam{
	background: #f5f5f5;
}

.ourteam_wrapper{
	display: flex;
	flex-direction: column;
}

.ourteam_wrapper .team{
	display: flex;
	justify-content: space-between;
}

.ourteam_wrapper .team-1.team{
	margin-bottom: 25px;
}

.ourteam_wrapper .team_members{
	width: 30%;
	height: auto;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.ourteam_wrapper .team_members img{
	display: block;
	height: 200px;
	width: 100%;
	margin-bottom: 15px;
	transition: all 0.5s ease;
}

.ourteam_wrapper .team_members:hover img{
	transform: scale(1.1);
}

/* footer */
.footer{
	width: 100%;
	text-align: center;
	background: #444444;
	padding: 20px 0;
}

.footer a{
	color: #fff;
}



@media (max-width: 720px){

	.navbar{
		height: auto;
		flex-direction: column;
	}

	.logo{
		margin-bottom: 25px;
	}

	.navbar_items ul{
		flex-direction: column;
		text-align: center;
	}

	.navbar_items ul li{
		margin-bottom:5px;
	}

	.banner_content{
		margin-top: 35px;
	}

}

/* Social */
.sosmed{
	background: #f5f5f5;
}

.sosmed_wrapper{
	display: flex;
	flex-direction: column;
}

.sosmed_wrapper .media{
	display: flex;
	justify-content: space-between;
}

.sosmed_wrapper .media{
	margin-bottom: 25px;
}

.sosmed_wrapper .social{
	width: 30%;
	height: auto;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.sosmed_wrapper .social img{
	display: block;
	height: 100px;
	width: 50%;
	margin-bottom: 15px;
	transition: all 0.5s ease;
}

.sosmed_wrapper .social:hover img{
	transform: scale(1.1);
}

/* arrow */
.arrow{
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 40px;
	height: 40px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	background: #fb2274;
	border-radius: 50%;
	display: none;
}

.arrow img{
	width: 20px;
	height: 20px;
	z-index: 1;
}